// Style declarations for admin page

@import "lib/custom.bootstrap.import.less";

.akush {
  color: #1e844f;
  &:hover{
    color: darken(#1e844f, 15%);;
  }
}

.nav-container{
  a{.akush;} 
}

.navbar-default .navbar-brand{
  .akush; 
}

.js-login-button{
  position:absolute;
  top:14px;
  right:10px;
  font-size:medium;
}

.add-dispensary{
  padding-top:20px;
}

#dispensary_form{
  padding-top:10px;
}

.hidden_div{
  display:none;
}

.dispensary-list, .about{
  padding:20px;
  a{.akush;}
}

.about{
  p {
    font-size:20px;
  }
  ol {
    list-style: decimal;
  }
  li{
    padding: 10px;
  }
}