<!-- Admin page templates -->

<!-- Nav bar template-->
<template name="navbar"> 
  <!-- Nav bar -->
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid nav-container">
      <!-- header -->
      <div class="navbar-header">
	<a class="navbar-brand " href="/">
          Kushmoda Menus
	</a>
      </div>

      <div  class="js-login-button">
	  {{> loginButtons align="right" }}
	  <!-- <span class="glyphicon glyphicon-user"></span> -->
      </div>

    </div>
  </nav>
</template>

<!-- Dispensary form template-->
<template name="dispensaryForm">
  <div class="container add-dispensary">
    <!-- toggle form button -->
    <a class="btn btn-default js-toggle-dispensary-form">
      <p>Add Dispensary</p>
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>     
    </a>
    <!-- form -->
    <div id="dispensary_form" class="hidden_div">
      <form class="js-save-dispensary-form">
        <div class="form-group">
          <label for="name">Dispensary Name</label>
          <input type="text" class="form-control" id="name" placeholder="herbal-cruz">
        </div>
        <button type="submit" class="btn btn-default js-toggle-dispensary-form">Submit</button>
      </form>
    </div>
  </div>
</template>

<!-- dispensary list template -->
<template name="dispensaryList">
  <div class="container dispensary-list">
    <h1><strong>List of dispensaries with menus enabled</strong></h1>
    <ul>
      {{#each getDispensaries}}
      <li>
	<a href="/{{name}}">{{name}}</a>, added by {{addedBy}} on {{addedOn}}
      </li>
      {{/each}}
    </ul>
  </div>
</template>

<!-- About template -->
<template name="about">
  <div class="container about">

    <h1><strong>About</strong></h1>
    <p>This is a custom tool build by <a  target="_blank" href="https://scitecha.com">SciTech Analytics</a> for <a target="_blank" href="https://kushmoda.com">Kushmoda</a>. With this tool <a target="_blank" href="https://kushmoda.com">Kushmoda</a> can scrape the menu data of dispensaries from <a target="_blank" href="https://weedmaps.com">Weedmaps</a>.</p>
    
    <h1><strong>How to use</strong></h1>
    <ol>
      <li><p>Click on the
	<strong class="btn btn-default js-toggle-dispensary-form">
	  Add Dispensary</strong> button to initialize scraping for a new dispensary.</p></li>
      
      <li><p>On the form type the <code>Dispensary-Name</code> of the dispensary you would like to add to the list of dispensaries for which menus are being scraped.</p> <p>The <code>Dispensary-Name</code> should be as it appears in the <a target="_blank" href="https://weedmaps.com">Weedmaps</a> url for the given dispensary. For example, the Herbal Cruz dispensary menu can be found in https://weedmaps.com/dispensaries/<code>herbal-cruz</code>, thus the <code>Dispensary-Name</code> you would have to type on the <strong class="btn btn-default js-toggle-dispensary-form">
	Add Dispensary</strong>  form would be <code>herbal-cruz</code>.</p></li>
      
      <li><p>Click submit. After 2-5 minutes the menu for the newly added dispensary should be visible at https://kushmenus.scitecha.com/<code>Dispensary-Name</code>.</p></li>
    </ol>

    <h1><strong>What is happening on the back</strong></h1>
    <p>Once you add a dispensary to the list, the menu for that dispensary on <a target="_blank" href="https://weedmaps.com">Weedmaps</a> will be scraped every 15 minutes. This is done via a <a target="_blank" href="https://phantomjs.org">PhantomJS</a> child process being launched for each dispensary on the list every 15 minutes. The PhantomJS script writes the menu data of each dispensary to a JSON file, and each time these JSON files are modified the application updates the data into a  <a target="_blank" href="https://www.mongodb.com/">MongoDB</a> database. This application was built using <a target="_blank" href="https://www.meteor.com/">Meteor</a> and can be run on any server via <a href="https://nodejs.org/">Node.js</a>. The source code for this application can be found at <a target="_blank" href="https://bitbucket.org/migroch/wmmenuscrape">here</a>.</p>
    
  </div>
</template>
