<!-- Layout templates -->

<template name="MenuLayout">
  <!-- Menu Layout  -->
  {{> yield "MenuNav"}}
  <section class="wm-menu">
    <div class="container">
      <div class="row">
	{{> yield "Menu"}}
      </div>
    </div>
  </section>
  {{> ItemModal}}
  <div class="container back-to-top hide">
    <a href=""><i class="fa fa-arrow-circle-up" aria-hidden="true"></i></a>
  </div>
</template>

<template name="AdminLayout">
  <!-- Layout Template  -->
  {{> yield "navbar"}}
  {{> yield "dispensaryForm"}}
  {{> yield "dispensaryList"}}
  {{> yield "about"}}
</template>
