<!-- Menu templates -->

<template name="MenuNav">
  <!-- Menu Nav Bar Template -->
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <section class="wm-toolbar">
    <div class="container">
      <div class="row">

	<!-- Category selection tool  -->
	<div class="wm-toolbar-category-tool js-category-tool">
          <div  class="wm-toolbar-current-category">
            <a  class="cat-list-collapse-link" data-toggle="collapse"
	       href="#catList" aria-expanded="false" aria-controls="catList">
	     {{getSelectedCategory}}
              <i class="fa fa-caret-down"></i>
	    </a>
	    <!-- Category list dropdown 	    <div class="collapse" id="catList"> -->
	    <div class="category-list collapse" id="catList" >
	      <div class="wm-toolbar-category-dropdown">
		<div class="wm-toolbar-categories">
		  <a href="/{{getCurrentDispensary}}">
		    <div class="wm-toolbar-category-option js-AllCategories-link" role="filter-option">
                      All Categories
		    </div>
		  </a>
		  {{#each getCategories}}
		  {{#if category}}
		  <a href="/{{getCurrentDispensary}}/{{category}}">
		    <div class="wm-toolbar-category-option js-{{category}}-link" role="filter-option">
                      {{category}}
		    </div>
		  </a>
		  {{/if}}
		  {{/each}}
		</div>
	      </div>
	    </div> 
	  </div>
        </div>

	<!-- Search tool -->
	<div class="wm-toolbar-search js-search-input">
          <input id="searchBox" type="search" placeholder="Search">
          <i class="fa fa-times js-search-close" aria-hidden="true"></i>
	</div>
      </div>

    </div>
  </section>
  </nav>
</template>


<template name="FullMenu">
  <!-- FullMenu Template -->
  {{#each getCategories}}
  {{> Category category=.}}
  {{/each}}
</template>

<template name="Category">
  <!-- Category Template -->
  {{#if category.nItems}}
  <div class="wm-menu-category">
    <div class="wm-menu-categories">
      <div class="wm-menu-category-tools">
	{{> CategoryTools category=category}}
      </div>
      <div class="wm-menu-items">
	{{#each getMenuItems category.category}}
	{{> MenuItem}}
	{{/each}}
      </div>
    </div>
  </div>
  {{/if}}
</template>

<template name="CategoryTools">
  <!-- Category tools template -->
  <div class="wm-menu-category-tools">
    <div class="wm-menu-category-title-tool">
      {{category.category}} ({{category.nItems}})
    </div>
    {{> SortTool category=category}}
  </div>
</template>

<template name="MenuItem">
  <!-- Menu Item Template -->
  <div class="wm-menu-item">
    <div class="wm-menu-item-card js-item-card">
      <div class="wm-menu-item-media item-photo-placeholder">
	<i class="fa fa-picture-o" aria-hidden="true"></i>
	<div class="wm-menu-item-photo" style="background-image: url({{photo_url}})"></div>
      </div>
      <div class="wm-menu-item-names" >
	<div class="wm-menu-item-category">{{category}}</div>
	<div class="wm-menu-item-name">{{name}}</div>
	<div class="wm-menu-item-description">
	  <div class="wm-menu-item-body">{{description}}</div>
	</div>
      </div>
     
      <div class="wm-menu-item-tests">
	<div class="wm-menu-item-test-details">
	  <div class="wm-menu-item-test-results">
            <div class="wm-menu-item-test-result thc">
	      <div class="wm-menu-item-test-label">{{THC.testLabel}}</div>
	      <div class="wm-menu-item-test-data">
		{{THC.testData}}
		<div class="wm-menu-item-test-data-label">{{THC.testDataLabel}}</div>
	      </div>
            </div>
	    <div class="wm-menu-item-test-result cbd">
	      <div class="wm-menu-item-test-label">{{CBD.testLabel}}</div>
	      <div class="wm-menu-item-test-data ng-binding">
		{{CBD.testData}}
		<div class="wm-menu-item-test-data-label">{{CBD.testDataLabel}}</div>
	      </div>
            </div>
	    <div class="wm-menu-item-test-result cbn">
	      <div class="wm-menu-item-test-label">{{CBN.testLabel}}</div>
	      <div class="wm-menu-item-test-data ng-binding">
		{{CBN.testData}}
		<div class="wm-menu-item-test-data-label">{{CBN.testDataLabel}}</div>
	      </div>
            </div>
	  </div>
	  <div class="wm-menu-item-test-status valid">
            <div class="wm-menu-item-test-title">
	      Expires In
            </div>
            <div class="wm-menu-item-test-date">
	      {{testDate}}
            </div>
	  </div>
	</div>
      </div>

      <!-- Begin price section -->
      <div class="wm-menu-item-prices">
	{{#if price.unit.data}}
	<div class="wm-menu-item-price unit">
	  <div class="wm-menu-item-price-label">{{price.unit.label}}</div>
	  <div class="wm-menu-item-price-data">
	    {{price.unit.data}}
	    <div class="wm-item-price-minor-unit">{{price.unit.minorUnit}}</div>
	  </div>
	</div>
	{{/if}}
	{{#if price.half_gram.data}}
	<div class="wm-menu-item-price half_gram">
	  <div class="wm-menu-item-price-label">{{price.half_gram.label}}</div>
	  <div class="wm-menu-item-price-data">
	    {{price.half_gram.data}}
	    <div class="wm-item-price-minor-unit">{{price.half_gram.minorUnit}}</div>
	  </div>
	</div>
	{{/if}}
	{{#if price.gram.data}}
	<div class="wm-menu-item-price gram">
	  <div class="wm-menu-item-price-label">{{price.gram.label}}</div>
	  <div class="wm-menu-item-price-data">
	    {{price.gram.data}}
	    <div class="wm-item-price-minor-unit">{{price.gram.minorUnit}}</div>
	  </div>
	</div>
	{{/if}}
	{{#if price.two_grams.data}}
	<div class="wm-menu-item-price two_grams">
	  <div class="wm-menu-item-price-label">{{price.two_grams.label}}</div>
	  <div class="wm-menu-item-price-data">
	    {{price.two_grams.data}}
	    <div class="wm-item-price-minor-unit">{{price.two_grams.minorUnit}}</div>
	  </div>
	</div>
	{{/if}}
	{{#if price.eighth.data}}
	<div class="wm-menu-item-price eighth">
	  <div class="wm-menu-item-price-label">{{price.eighth.label}}</div>
	  <div class="wm-menu-item-price-data">
	    {{price.eighth.data}}
	    <div class="wm-item-price-minor-unit">{{price.eighth.minorUnit}}</div>
	  </div>
	</div>
	{{/if}}
	
	{{#if price.quarter.data}}
	<div class="wm-menu-item-price quarter">
	  <div class="wm-menu-item-price-label">{{price.quarter.label}}</div>
	  <div class="wm-menu-item-price-data">
	    {{price.quarter.data}}
	    <div class="wm-item-price-minor-unit">{{price.quarter.minorUnit}}</div>
	  </div>
	</div>
	{{/if}}
	{{#if price.half_ounce.data}}
	<div class="wm-menu-item-price half_ounce">
	  <div class="wm-menu-item-price-label">{{price.half_ounce.label}}</div>
	  <div class="wm-menu-item-price-data">
	    {{price.half_ounce.data}}
	    <div class="wm-item-price-minor-unit">{{price.half_ounce.minorUnit}}</div>
	  </div>
	</div>
	{{/if}}
	{{#if price.ounce.data}}
	<div class="wm-menu-item-price ounce">
	  <div class="wm-menu-item-price-label">{{price.ounce.label}}</div>
	  <div class="wm-menu-item-price-data">
	    {{price.ounce.data}}
	    <div class="wm-item-price-minor-unit">{{price.ounce.minorUnit}}</div>
	  </div>
	</div>
	{{/if}}
      </div>
    </div>
  </div>
</template>

<template name="SortTool">
  <!-- Sorting Tool Template -->
  <div class="wm-menu-category-sort-tool js-sort-tool">
    <div class="wm-menu-current-sort noselect">
      <a class="sort-tool-collapse-link {{category.category}}" data-toggle="collapse"
	 href="#sortTool{{category.category}}" aria-expanded="false"
	 aria-controls="sortTool{{category.category}}">
	{{getSortQueryName}}
	<i class="fa fa-caret-down pull-right caret-pos-fix"></i>
      </a>
      <div class="collapse js-sort-tool" id="sortTool{{category.category}}">
	<div class="collapse wm-menu-category-dropdown js-sort-tool"
	     id="sortTool{{category.category}}">
          <div class="wm-menu-category-sorts">
            <div class="wm-menu-category-sorts-cannabinioids">
              <div class="wm-menu-category-sort-label">Highest Cannabinoid</div>
              <div class="wm-menu-category-sort-options">
		<div class="wm-menu-category-sort-option js-sort-highTHC">
		  THC
		</div>
		<div class="wm-menu-category-sort-option js-sort-highCBD">
		  CBD
		</div>
              </div>
              <div class="wm-menu-category-sort-label">Lowest Cannabinoid</div>
              <div class="wm-menu-category-sort-options">
		<div class="wm-menu-category-sort-option  js-sort-lowTHC">
		  THC
		</div>
		<div class="wm-menu-category-sort-option js-sort-lowCBD">
		  CBD
		</div>
              </div>
            </div>
            <div class="wm-menu-category-sorts-price">
              <div class="wm-menu-category-sort-label">Highest Price</div>
              <div class="wm-menu-category-sort-options">
		<div class="wm-menu-category-sort-option js-sort-highHALFGRAM">
		  0.5G
		</div>
		<div class="wm-menu-category-sort-option js-sort-highGRAM">
		  GRAM
		</div>
		<div class="wm-menu-category-sort-option js-sort-highEIGHTH">
                  1/8
		</div>
		<div class="wm-menu-category-sort-option js-sort-highOZ">
                  OZ
		</div>
		<div class="wm-menu-category-sort-option js-sort-highUNIT">
                  EACH
		</div>
              </div>
              <div class="wm-menu-category-sort-label">Lowest Price</div>
              <div class="wm-menu-category-sort-options">
		<div class="wm-menu-category-sort-option js-sort-lowHALFGRAM">
		  0.5G
		</div>
		<div class="wm-menu-category-sort-option js-sort-lowGRAM">
		  GRAM
		</div>
		<div class="wm-menu-category-sort-option js-sort-lowEIGHTH">
                  1/8
		</div>
		<div class="wm-menu-category-sort-option js-sort-lowOZ">
                  OZ
		</div>
		<div class="wm-menu-category-sort-option js-sort-lowUNIT">
                  EACH
		</div>
              </div>
            </div>
          </div>
	</div>
      </div>
    </div>
  </div>
</template>

<template name="ItemModal">
  <!-- Modal -->
  <div id="itemModal" class="modal fade" tabindex="-1" role="dialog"
       aria-labelledby="ItemModal">
    <div class="modal-dialog  wm-menu-item dialog modal-sm" role="document">
      <!-- Modal content-->
      <div class="modal-content">
	<!-- body injected via JavaScript -->
	<div class="modal-body">
	  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	    <i class="fa fa-times" aria-hidden="true"></i></button>
	  <div class="item-modal-body wm-menu-item-card">
	  </div>
	</div>
      </div>
    </div>
  </div>
</template>

