// Menu style declarations

@import "lib/custom.bootstrap.import.less";

body { padding-top: 50px; }

body.modal-open {
    overflow: visible;
}

.navbar{
  height:50px;
  margin:0px;
}

.item-photo-placeholder{
  text-align: center;
  font-size: 60px;
  color: rgb(128,128,128);
}

.hide{
  display:none;
}

.back-to-top{
  z-index:10;
  position:fixed;
  width:auto;
  bottom:10px;
  right:0px;
  font-size:25px;
}

.item-modal-body:hover{
  -webkit-box-shadow:0 0px 0px rgba(0,0,0,0);

}

#iron-router-progress {
    background-color : #00cdbe;
    box-shadow       : 0 0 5px #00cdbe;
}

#iron-router-progress.spinner:before {
  border-color : #00cdbe;
  top: 50%;
  left: 50%;
}

.modal-dialog{
  margin:0;
}

#searchBox{
  @media only screen and (max-width: 500px) {
      width:100px;
  }
}

.wm-menu-item-prices{
  @media only screen and (max-width: 360px) {
    padding-left:5px;
  }
}

.wm-menu-item-prices .wm-menu-item-price{
  @media only screen and (max-width: 380px) {
    min-width:55px;
  }
}

.wm-menu-item-prices .wm-menu-item-price.two_grams{
  @media only screen and (max-width: 460px) {
    display:none;
  }
}

.wm-menu-item .wm-menu-item-names{
  @media only screen and (max-width: 500px) {
    padding-left-left:20px;
  }
}

.wm-menu-item-names .wm-menu-item-name{
  @media only screen and (max-width: 500px) {
    position:static;
    white-space:normal;
    width:auto;
    height:auto;
  }
}


.row.wm-menu-item-prices{
  @media only screen and (max-width: 500px) {
    position:static;
    white-space:normal;
    width:auto;
    height:auto;
  }
}

.modal-body{
  @media only screen and (max-width: 500px) {
    width:310px;
    height:420px;
  }
}

.wm-menu-item.dialog .wm-menu-item-card{
   @media only screen and (max-width: 500px) {
    width:280px;
    height:380px;
  }
}

.wm-menu-item.dialog .wm-menu-item-card .wm-menu-item-names{
  @media only screen and (max-width: 500px) {
    padding:0px;
    max-width:200px;
  }
}

.wm-menu-item.dialog .wm-menu-item-name{
  @media only screen and (max-width: 500px) {
    max-height:58px;
   }
}

.wm-menu-item.dialog .wm-menu-item-description{
  max-height:100px;
  overflow: scroll;
  margin-top:10px;
}

.wm-menu-item.dialog .wm-menu-item-card .wm-menu-item-names .wm-menu-item-description{
  padding-top: 0px;  
}

.wm-menu-item.dialog .wm-menu-item-body{
  margin-right: 12px;
}

.wm-menu-item.dialog .wm-menu-item-media.item-photo-placeholder{
  @media only screen and (max-width: 500px) {
    left:0px;
    width:220px;
  }
}

.wm-menu-item.dialog .wm-menu-item-tests{
  @media only screen and (max-width: 500px) {
    .hide;
  }
}

.wm-menu-item.dialog .wm-menu-item-prices{
  @media only screen and (max-width: 500px) {
    display:block;
    position:absolute;
    left:190px;
    top:60px;
  }
}

.wm-menu-item.dialog .wm-menu-item-price{
  @media only screen and (max-width: 500px) {
    padding-bottom:5px;
    .make-sm-column(1);
  }
}
